@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@import './bootstrap-reboot.min';

* {
  font-family: 'Merienda', cursive;
}

.container {
  width:1140px;
  margin: 0 auto;
  position: relative;
}