@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@import './sass/bootstrap-reboot.min';

* {
  font-family: 'Merienda', cursive;
}

.container {
  width:1140px;
  margin: 0 auto;
  position: relative;
}
#root {
  min-height: 800px;
}

@import './sass/media';
